@model IEnumerable<RopayDvd.Models.Loan>

@{
    ViewData["Title"] = "Member Loan Details";
}

<h4 class="text-center h3 text-white mb-4">@ViewBag.Title</h4>
<table class="table">
    <thead>
        <tr>
            <th class="h6 text-white ">
                Member Name
            </th>
            <th class="h6 text-white ">
                Address
            </th>
            <th class="h6 text-white ">
                Issued Date
            </th>
            <th class="h6 text-white ">
                Dvd Title
            </th>
            <th class="h6 text-white ">
                Loan Age (Day)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @(item.MemberNumberNavigation.MemberFirstName+ " "+item.MemberNumberNavigation.MemberLastName)
            </td>
            <td class="text-white">
                @item.MemberNumberNavigation.MemberAddress
            </td>
            <td class="text-white">
                @item.DateOut.ToShortDateString()
            </td>            
            <td class="text-white">                
                @item.CopyNumberNavigation.DvdNumberNavigation.DvdTite
            </td>
            <td class="text-white">
                @DateTime.Today.Subtract(item.DateOut).TotalDays 
            </td>
        </tr>
}
    </tbody>
</table>
